@import url("https://fonts.googleapis.com/css2?family=Ysabeau:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,500;1,600&display=swap");

:root {
  /* Color */
  --primary-color: #f2cd5c;
  --orange-color: #f2921d;
  --purple-color: #a61f69;
  --white-color: #fff;
  --black-color: #000;
  --black2-color: #292929;
  --black-opacity-color: rgba(0, 0, 0, 0.2);

  /* Font-size */
  --fs-1: 4rem;
  --fs-2: 3.2rem;
  --fs-3: 2.4rem;
  --fs-4: 1.8rem;
  --fs-5: 1.6rem;
  --fs-6: 1.5rem;
  --fs-7: 1.3rem;
}

.ml-4 {
  margin-left: 4px;
}

.mr-4 {
  margin-right: 4px;
}

.mb-20 {
  margin-bottom: 20px;
}

img {
  width: 100%;
  object-fit: cover;
  border-radius: 8px;
}

figcaption {
  text-align: center;
  font-size: var(--fs-5);
  color: var(--black2-color);
}

blockquote {
  margin: 32px 0;
  font-style: italic;
  padding: 8px 20px !important;
  border-left: 4px solid var(--orange-color) !important;
  position: relative;
  background: rgba(242, 205, 92, 0.1);
}

blockquote::before {
  content: "\201C";
  color: var(--orange-color);
  font-size: var(--fs-1);
  position: absolute;
  left: 0;
  top: 0;
}

blockquote span {
  display: block;
  color: var(--black-color);
  font-weight: bold;
}

* {
  box-sizing: inherit;
}

html {
  /* Hack: size = 10px */
  font-size: 62.5%;
  line-height: 1.6;
  font-family: "Ysabeau", sans-serif !important;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.grid {
  width: 1200px;
  max-width: 100%;
  margin: 0 auto;
}

.grid__full-width {
  width: 100%;
}
