/* Button modal */
:where(.css-dev-only-do-not-override-1s1wi14).ant-btn-primary,
:where(.css-1s1wi14).ant-btn-primary {
  color: #fff;
  background-color: #f2921d !important;
  box-shadow: 0 2px 0 rgba(255, 180, 5, 0.08);
}

:where(.css-dev-only-do-not-override-1s1wi14).ant-btn-primary:not(
    :disabled
  ):hover,
:where(.css-1s1wi14).ant-btn-primary:not(:disabled):hover {
  color: #fff;
  background-color: #ffb347 !important;
}

:where(.css-dev-only-do-not-override-bxftsz).ant-pagination,
:where(.css-bxftsz).ant-pagination {
  font-size: var(--fs-4);
}

:where(.css-dev-only-do-not-override-bxftsz).ant-modal .ant-modal-title,
:where(.css-dev-only-do-not-override-bxftsz).ant-tabs .ant-tabs-tab,
:where(.css-dev-only-do-not-override-bxftsz).ant-form-item
  .ant-form-item-label
  > label,
:where(.css-dev-only-do-not-override-bxftsz).ant-input,
:where(.css-dev-only-do-not-override-bxftsz).ant-btn,
:where(.css-dev-only-do-not-override-bxftsz).ant-form label,
:where(.css-dev-only-do-not-override-bxftsz).ant-popconfirm
  .ant-popconfirm-message,
:where(.css-dev-only-do-not-override-bxftsz).ant-popconfirm
  .ant-popconfirm-description,
:where(.css-dev-only-do-not-override-bxftsz).ant-btn.ant-btn-sm,
:where(.css-dev-only-do-not-override-bxftsz)[class^="ant-drawer"],
:where(.css-dev-only-do-not-override-bxftsz)[class*=" ant-drawer"],
:where(.css-dev-only-do-not-override-bxftsz).ant-drawer .ant-drawer-title,
:where(.css-bxftsz).ant-modal .ant-modal-title,
:where(.css-bxftsz).ant-tabs .ant-tabs-tab,
:where(.css-bxftsz).ant-form-item .ant-form-item-label > label,
:where(.css-bxftsz).ant-input,
:where(.css-bxftsz).ant-btn,
:where(.css-bxftsz).ant-form label,
:where(.css-bxftsz).ant-popconfirm .ant-popconfirm-message,
:where(.css-bxftsz).ant-popconfirm .ant-popconfirm-description,
:where(.css-bxftsz).ant-btn.ant-btn-sm,
:where(.css-bxftsz)[class^="ant-drawer"],
:where(.css-bxftsz)[class*=" ant-drawer"],
:where(.css-bxftsz).ant-drawer .ant-drawer-title {
  font-size: var(--fs-5);
}

:where(.css-dev-only-do-not-override-bxftsz).ant-modal .ant-modal-title,
:where(.css-bxftsz).ant-modal .ant-modal-title {
  margin-bottom: 20px;
}

:where(.css-dev-only-do-not-override-bxftsz).ant-btn,
:where(.css-dev-only-do-not-override-bxftsz).ant-btn.ant-btn-sm,
:where(.css-bxftsz).ant-btn,
:where(.css-bxftsz).ant-btn.ant-btn-sm {
  height: auto;
}
